@media only screen and (max-width:900px) {
    .cont-menu-bar{
        display: block;
        cursor: pointer;
    }
    .menu{
        display: none;
    }
    .body-slider {
        display: inline-block;
        padding: 270px 0px;
    }
    .card-prod{
        width: 100%;
    }
 
    
}
@media only screen and (min-width:800px) and (max-width:1200px){
    .card-servicio{
        width: 100%;
    }
}
@media only screen and (min-width:500px) {
    .body-slider{
        padding: 250px 20px;
    }
}
